<table class="lines">
    <thead>
        <tr>
            <th style="width: 30px;">#</th>
            {% if hasProductCodes|default(false) and pdf_visible('col_code', labelOverrides|default(null)) %}
                <th style="width: 80px;">{{ pdf_label('col_code', labelOverrides|default(null), locale|default('ro'), 'code') }}</th>
            {% endif %}
            <th>{{ pdf_label('col_description', labelOverrides|default(null), locale|default('ro'), 'description') }}</th>
            {% if pdf_visible('col_quantity', labelOverrides|default(null)) %}
                <th class="text-center" style="width: 60px;">{{ pdf_label('col_quantity', labelOverrides|default(null), locale|default('ro'), 'quantity') }}</th>
            {% endif %}
            {% if pdf_visible('col_unit', labelOverrides|default(null)) %}
                <th class="text-center" style="width: 50px;">{{ pdf_label('col_unit', labelOverrides|default(null), locale|default('ro'), 'unit') }}</th>
            {% endif %}
            {% if showPrices|default(true) %}
                {% if pdf_visible('col_unit_price', labelOverrides|default(null)) %}
                    <th class="text-right" style="width: 90px;">{{ pdf_label('col_unit_price', labelOverrides|default(null), locale|default('ro'), 'unit_price') }}</th>
                {% endif %}
                {% if hasLineDiscounts|default(false) %}
                    <th class="text-right" style="width: 70px;">{{ pdf_label('discount_label', labelOverrides|default(null), locale|default('ro'), 'discount') }}</th>
                {% endif %}
                {% if not (hideVat|default(false)) %}
                    {% if pdf_visible('col_vat_percent', labelOverrides|default(null)) %}
                        <th class="text-center" style="width: 50px;">{{ pdf_label('col_vat_percent', labelOverrides|default(null), locale|default('ro'), 'vat_percent') }}</th>
                    {% endif %}
                    {% if pdf_visible('col_vat', labelOverrides|default(null)) %}
                        <th class="text-right" style="width: 90px;">{{ pdf_label('col_vat', labelOverrides|default(null), locale|default('ro'), 'vat') }}</th>
                    {% endif %}
                {% endif %}
                {% if pdf_visible('col_total', labelOverrides|default(null)) %}
                    <th class="text-right" style="width: 100px;">{{ pdf_label('col_total', labelOverrides|default(null), locale|default('ro'), 'total_col') }}</th>
                {% endif %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for line in invoice.lines %}
        <tr>
            <td>{{ loop.index }}</td>
            {% if hasProductCodes|default(false) and pdf_visible('col_code', labelOverrides|default(null)) %}
                <td>{{ line.productCode|default('') }}</td>
            {% endif %}
            <td>{{ line.description }}</td>
            {% if pdf_visible('col_quantity', labelOverrides|default(null)) %}
                <td class="text-center{% if negativeValues|default(false) %} negative{% endif %}">{{ line.quantity }}</td>
            {% endif %}
            {% if pdf_visible('col_unit', labelOverrides|default(null)) %}
                <td class="text-center">{{ line.unitOfMeasure }}</td>
            {% endif %}
            {% if showPrices|default(true) %}
                {% if pdf_visible('col_unit_price', labelOverrides|default(null)) %}
                    <td class="text-right">{{ line.unitPrice|number_format(2, ',', '.') }}</td>
                {% endif %}
                {% if hasLineDiscounts|default(false) %}
                    <td class="text-right">
                        {% if line.discount is defined and line.discount and line.discount != '0.00' %}
                            {% if line.discountPercent is defined and line.discountPercent and line.discountPercent != '0.00' %}
                                {{ line.discountPercent }}%
                            {% else %}
                                {{ line.discount|number_format(2, ',', '.') }}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
                {% if not (hideVat|default(false)) %}
                    {% if pdf_visible('col_vat_percent', labelOverrides|default(null)) %}
                        <td class="text-center">{{ line.vatRate }}%</td>
                    {% endif %}
                    {% if pdf_visible('col_vat', labelOverrides|default(null)) %}
                        <td class="text-right{% if negativeValues|default(false) %} negative{% endif %}">{{ line.vatAmount|number_format(2, ',', '.') }}</td>
                    {% endif %}
                {% endif %}
                {% if pdf_visible('col_total', labelOverrides|default(null)) %}
                    <td class="text-right{% if negativeValues|default(false) %} negative{% endif %}">{{ line.lineTotal|number_format(2, ',', '.') }}</td>
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
